.main-content-form-section {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    padding: 0 2%;
}

.main-content-form-section-submit {
    display: flex;
    align-items: flex-end;
}

.main-content-form-submit {
    width: 100px;
}

.main-content-form {
    padding: 6px 24px;
}

.main-content-information {
    padding: 8px 12px;
}

.main-content-information > header {
    font-weight: 800;
    font-size: 32px;
    border-bottom: 1px solid #0e0707;
    display: flex;
    align-items: center;
    justify-content: center
}

.main-content-information > p {
    margin: 0 auto;
    max-width: 450px;
    padding: 12px 0 0 0;
}


@media only screen and (min-width: 481px) and (max-width: 1179px) {
    .contact-container {
        display: flex;
        flex-direction: row;
    }

    .main-content-form {
        width: calc(100% / 2);
    }

    .main-content-aside {
        width: calc(100% / 2);
    }
}

@media only screen and (min-width: 1180px) {
    .contact-container {
        display: flex;
        flex-direction: row;
    }

    .main-content-form {
        width: calc((100% / 3) * 2);
    }

    .main-content-aside {
        width: calc((100% / 3) * 1);
    }
}

@media only screen and (max-width: 480px) {
    .main-content-article {
        display: none;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }
}
