@media only screen and (min-width: 481px) and (max-width: 1179px) {

    .main-content :nth-child(1) {
        order: 2;
    }

    .main-content :nth-child(2) {
        order: 3;
    }

    .main-content :nth-child(3) {
        order: 1;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1180px) {
    .main-content {
        display: flex;
        flex-flow: wrap;
    }

    .main-content-video {
        width: 100%;
    }
    .main-content-articles {
        width: calc(100% - 300px);
    }
    .main-content-aside{
        width: 300px;
    }

    .main-content-video {
        width: 100%;
        height: auto;
        padding: 0 20%;
    }

    video {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 480px) {

    .main-content-video {
        display: none;
    }

    .main-content {
        display: flex;
        flex-direction: column-reverse;
    }
}
