/*to have 1 comment in the css*/

.html, .body {
    margin: 0;
    height: 100%;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.header-text-container {
    display: flex;
    flex-direction: column;
}

.cookie-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    opacity: 0.5;
    background: #FA0;
    padding: 8px 24px;
    z-index: 100;
}

.cookie-container-text {
    color: #FFF;
}

.footer {
    margin-top: auto;
    width: 100%;
    background: #acaefc;
}

.footer-text{
    padding: 8px 12px;
}

.res-image {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 200px;
    margin: 0 auto;
    height: auto;
}

.header-title, .header-payoff {
    margin: 4px auto;
}

.product-section {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.product {
    padding: 8px;
}

.product-footer {
    margin-top: auto;
}

@media only screen and (min-width: 481px) and (max-width: 1179px) {
    .nav-list{
        display: flex;
        margin: 0;
        padding: 12px 24px;
    }

    .nav-list-item{
        display: block;
        margin-right: 12px;
    }

    .product {
        display: flex;
        flex-direction: row-reverse;
    }

    .product-image, .product-section {
        width: 50%;
    }
}

@media only screen and (min-width: 1180px) {
    .nav-list{
        margin: 0;
        padding: 12px 24px;
    }

    .nav-list-item{
        display: block;
        margin-right: 12px;
    }

    .product {
        display: flex;
        flex-direction: row;
    }

    .product-image, .product-section {
        width: 50%;
    }
}

@media only screen and (min-width: 481px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .nav-checkbox {
        display: none;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .header-logo {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #menuToggle input:checked ~ ul {
        display: block;
    }

    .nav-list {
        display: none;
    }

    .header-text-container {
        width: 50%;
    }

    .nav {
        width: 50%;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    .nav-list {
        width: 100%;
        left: 0;
        top: 0;
        margin: 0;
        padding: 8px 24px;
        position: absolute;
        /* top: 14px; */
        height: 100px;
        background-color: #f7f7f7;
    }

    .product {
        display: flex;
        flex-direction: column;
    }

    .product-image, .product-section {
        width: calc(100% - 38px);
    }

    #menuToggle .span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;
    }

    #menuToggle input
    {
        top: 15px;
        position: absolute;
        right: 15px;
        display: block;
        width: 40px;
        height: 32px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    .hamburger {
        top: 15px;
        position: absolute;
        right: 15px;
    }

    .nav-list-item {text-decoration: none;display: flex;justify-content: flex-start;}

    .nav-list-item a {
        text-decoration: none;
        color: #0e0707;
    }
}
